@charset "utf-8";
body{
	margin: 0px;
	padding: 0px;
	background-color:#E9EEE7 ;
}
.Navbar{
	padding:0px;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
}
.Navbar a{
	padding:30px;
	color: #1D3577;
	text-decoration: none;
	position: relative;
	left: 570px;
	float:left;
	bottom:20px;
	display:block;

}
.Navbar a:hover{
	
	border-bottom: 2px solid #E63945;
	padding-bottom: 5px;
}
.ResumeBox{
	width:83%;
	border-radius: 16px 16px 16px 16px;
	background-color: white;
	height: 77%;
	position: absolute;
	left: 115px;
	top:50px;
}
.headline{
	margin:20px 500px;
}
hr{
	border: 1px solid #494747;
	position: absolute;
	top:50px;
	left:100px;
	width: 900px;
	z-index: 10;
}
.GraphicD{
	position:absolute;
	left:103px;
	font-family:"arial";
	line-height:10px;
}