@charset "utf-8";
body{
	margin: 0px;
	padding: 0px;
	background-color:#E9EEE7 ;
}
.Navbar{
	padding:0px;
	font-family:Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
}
.Navbar a{
	padding:30px;
	color: #1D3577;
	text-decoration: none;
	position: relative;
	left: 570px;
	float:left;
	bottom:20px;
	display:block;

}
.Navbar a:hover{
	
	border-bottom: 2px solid #E63945;
	padding-bottom: 5px;
}
div.gallery {
  margin: 55px;
  border: 1px solid #ccc;
  float: left;

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 35px;
  text-align: center;
}

